nav{
    display: -webkit-flex;
}
header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 18%;
    font-size: 20px;
    display: flex;
}
header ul li a{
    text-decoration: none;
    color: black;
}
header ul{
    text-align: right;
    padding-left: 50%;
}
header ul li{
    list-style-type: none;
}
.links{
    margin-top: 15%;
}
.links a{
    text-decoration: none;
    text-transform: none;
    background: #3d3d3d;
    color: #fff;
    margin-top: 15px;
    box-sizing: content-box;;
    border-radius: 30px;
    margin-right: 40px;
    font-size: 20px;
    top: 30%;
    display: block;
    width: 30px;
    padding: 20px;
    
}
.mainl p{
    width: 60%;
    margin: auto;
    font-size: 20px;
    line-height: 2;
    font-family: 'Kanit', sans-serif;
}
.mainl h2{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    font-family: 'Kalam', cursive;
    text-align: center;
}
footer{
    position:relative;
    padding-left: 18%;
}
.main-content {
    display: flex;
}
.main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
}
.mainl div{
    text-align: center;
}